body{
    
    margin: 0;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    color: red;
    margin: 0;
    flex:1;

}

h2{
    text-transform: uppercase;
}
nav a:hover{
    color: red;
}

.fa-solid,.fa-regular{
    color:red;
}
.search-icon{
    margin-left: -2rem;
    color: black;
}

 header .user-panel{
    display: flex;
    align-items: center;
    flex: 1;
    gap: .5rem;
    justify-content: flex-end;
}
header nav{
    justify-content: center;
    display: flex;
    gap: 2rem;
}
header nav a{
    color: rgb(73, 72, 72);
    text-decoration: none;
}
header .user-panel img{
    border-radius: 100px;
    width: 2.5rem;
}
.user-panel input{
    padding: .3rem;
    width: 7rem;
    border-radius: .5rem;
    margin-right: .3rem;
}
main{
    aspect-ratio: 5/3;
    border: 1px solid black;
    padding:1rem ;
    margin: 2rem auto;
    display: flex;  
    align-items: center;
    
}

.imdbScore{
    font-weight: bold;
}
.movie-details span{
    color: red;
    font-weight: bold;
}
.movie-details p{
    margin: .5rem;
}
button{
   color: white;
   background: red;
   padding: .6rem 2.1rem;
   border-radius: 9px;
   border: 1px solid;
   font-size: 1.2rem;

}
.fa-play{
    color: white;
}

.main-movie{
    width: 60%;
  
  
    

}
.content-rating{
    border: 1px solid black;
    padding: .1rem ;
    border-radius: .3rem;
    margin: 0.5rem;
}

.movie-duration{
    font-weight: bold;
}
button i{
    margin-left: -1rem;
    margin-right: .5rem;
}

/*suggestion*/

.suggestion-row-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.suggestion-row-title a{
    text-decoration: none;
    color: gray;
}
.suggestion-row-title a:hover{
    
    color: red;
}
.suggestion-row-title h3{
margin: 1rem;

}
.movie-card{
    border: 1px solid black;
    min-width:250px ;
    border-radius: .1rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    margin: 1rem;
}
.movie-card h4{
    margin: 1rem 0;
}
.movie-card .content-rating{
    margin-left: 0;
}
.movie-detail-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.movie-card button{
    
    padding: .5rem 1.8rem;
    border-radius: .5rem;
    font-size: 1.2rem;
 
 }

.movie-card button i{
    margin-left: -.8rem;
    margin-right: .3rem;
 }
 .suggestion-movies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
 }
 /*footer*/
 footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
   
 }
 footer h5{
    margin-top: 0;
 }
 footer .left-content .info nav{
    display: flex;
    gap: 1rem;
    
 }
 footer .left-content p{

 }
 .right-content {
    min-width: 200px;
 }
 .right-content img{
    height: 3rem;
    width: 9rem;
    border-radius: 11px;
 }
 .middle-content{
min-width: 120px;
 }
 .middle-content .logo {
 display: flex;
 justify-content: flex-start;
 flex-direction: row;
 gap: 0.5rem;

 }
 .middle-content .logo i{
    font-size: 1.5rem;
 }
 .scroll-container {
     /* Div elementinin yüksekliği */
    overflow-y: auto; /* Dikey kaydırma çubuğu oluştur */
  }



 @media (max-width:500px){
    header{
        flex-wrap: wrap;
    }
    header nav{
        order: 1;
        gap: 2rem;
        width: 100%;
        justify-content: center;
        margin-top: 1.2rem;
    
    }
    .main-movie{
        width: 90%;
    }
    footer{
      
        flex-wrap: wrap;
       text-align: center;
    }
    footer nav{
        justify-content: center;
    }
    .middle-content,.right-content{
        width: 100%;
        text-align: center;
    }
    .middle-content .logo{
        justify-content: center;
    }
   
 }